<h1>Admin - Ta bort API-nyckel</h1>

<%= @key.api_key_value %>

 <fieldset>
   <%= form_tag(revokekey_path, method: "post") do %>

   <p><%= submit_tag("Ta bort API-nyckel") %></p>

  <% end %>
  </fieldset>

