<% flash.each do|message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<h1>Admin - API-nycklar</h1>

<% if !@keys.empty? %>
  <ul>
    <% @keys.each do |key| %>
      <li><%= link_to "#{key.api_key_value}", { :controller => "admin_api_keys", :action => "revokekey", :apikey => key.id}  %></li>
    <% end %>
  </ul>
<% else %>
  <p>Inga API-nycklar att visa.</p>
<% end %>

<p><%= link_to "Logga ut", adminlogout_path, data: {no_turbolink: true} %></p>