<h1>Admin - API-nycklar</h1>

  <ul>
    <% @keys.each do |key| %>
    <li><%= link_to "#{key.api_key_value}", { :controller => "admin_api_keys", :action => "revoke", :apikey => key.id}  %></li>
    <% end %>
  </ul>

<%= link_to "Logga ut", adminlogout_path %>