<div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Log in</h3>
              <p> {{loginctrl.message }} </p>
            </div>
            <div class="panel-body">
               <form novalidate name="loginctrl.form" class="simple-form">
                 E-mail: <br />
                 <input type="email" ng-model="loginctrl.email"/><br />
                 Password: <br />
                 <input type="password" ng-model="loginctrl.password"/>
                 <button data-ng-click="loginctrl.login()">Log in</button>
               </form>
            </div>
         </div>
     </div>